/** CSS STYLE **/
@font-face {
  font-family: "Open Sans";
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
}

@font-face {
  font-family: Neucha;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
}

:root {
  --color-white: #fff;
  --color-semi-white: #d7ccc0;
  --color-ligth: #f5f4f0;
  --color-main: #fe8a02;
  --color-main-dark: #42413c;
  --color-dark: #2a2626;
  --color-semi-dark: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
}

body {
  box-sizing: border-box;

  width: 1100px;
  margin: 0 auto;

  color: #2a2626;

  font-size: 16px;

  line-height: 1.6em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h1,
h2,
h3 {
  line-height: 1.2em;
}

section {
  padding: 100 0;
}

.hello {
  display: block;

  color: #fff;
}
