/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  line-height: 1.6em;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  line-height: 1.6em;
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  line-height: 1.2em;
  src: url("../fonts/Neucha-Regular.ttf");
}

:root {
  --color-white: #fff;
  --color-semi-white: #d7ccc0;
  --color-ligth: #f5f4f0;
  --color-main: #fe8a02;
  --color-main-dark: #42413c;
  --color-dark: #2a2626;
  --color-semi-dark: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
  --color-orange: #fe8a02;
  --font-weight: 400;
  --font-size-16px: 16px;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  color: var(--color-dark);

  font-size: var(--font-size-16px);
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1.2em;
}

.link {
  color: var(--color-dark);

  text-decoration: none;
}

.color-link {
  color: #007dc1;
}

li {
  list-style-type: none;
}

.color-orange {
  color: var(--color-orange);
}

.color-white {
  color: var(--color-white);
}

.font-neucha {
  font-family: Neucha, cursive;
}

.font-opensans {
  font-family: "Open Sans", sans-serif;
}

.btn {
  width: 148px;
  min-height: 49px;

  margin-top: 20px;
  padding: 12px 24px;

  color: var(--color-white);

  font-weight: 700;
  font-size: var(--font-size-16px);

  background-color: var(--color-orange);

  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #ea7600;
}

.font-size-12px {
  font-size: 12px;
}

.mt-16px {
  margin-top: 16px;
}

.mt-12px {
  margin-top: 12px;
}

.mt-20px {
  margin-top: 20px;
}

header {
  width: 100%;
  min-height: 914px;
}

header::before {
  position: absolute;

  display: flex;

  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: var(--color-semi-dark);
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: url("../img/background.png");
}

.content {
  position: relative;

  width: 1110px;

  margin: 0 auto;
}

.section {
  margin: 100px 0;

  text-align: center;
}

.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.header-image {
  position: absolute;

  top: 100px;
  right: -180px;
}

.header-title {
  height: 525px;

  padding-top: 100px;
}

#video-section {
  background-color: var(--color-white);
}

#video-section .content p {
  padding: 30px 0;
}
.video {
  position: relative;
  z-index: 200;
  padding-left: 1px;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 15%));
}

#navigation {
  position: relative;
  z-index: 100;

  margin-top: -200px;

  background-color: var(--color-main-dark);
}

.col-3 {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;

  padding-top: 200px;
  padding-bottom: 100px;
}

.card {
  width: 350px;

  padding: 24px;

  font-family: Neucha, cursive;

  background-color: var(--color-ligth);
}

.card:hover,
.card:hover h2,
.card:hover h3 {
  color: var(--color-white);

  background-color: var(--color-orange);
}

.card-height-323px {
  height: 323px;
}

.card-height-348px {
  height: 348px;
}

.nth-child-1,
.nth-child-1:hover {
  padding: 0;

  background-color: var(--color-main-dark);
}

.nth-child-1 h1 {
  font-weight: 400;
  font-size: 52px;
}

.number {
  margin-bottom: 40px;

  color: var(--color-main-dark);

  font-size: 64px;

  /* line-height: 1em; */
}
